* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body {
    background: linear-gradient(to bottom, #bde0fe, #ffffff);
}

.home-page {
    height: 100vh;
    width: 100%;
}

.home-page h1 {
    font-family: 'Arial', sans-serif; /* Choose an appropriate font-family */
    font-size: 100px; /* Adjust the font size as needed */
    color: #333; /* Choose a suitable text color */
    margin: 0; /* Remove any default margin */
    padding: 10px 0; /* Add some padding to create space around the text */
    padding-top: 1%;
    text-align: center; /* Center-align the text */
    text-transform: uppercase; /* Transform the text to uppercase */
    letter-spacing: 2px; /* Add letter-spacing for better readability */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.home-page input {
    padding: 10px;
    border: 2px solid #120c6b; /* Border color */
    border-radius: 5px; /* Rounded corners */
    background-color: #f2f2f2; /* Background color */
    font-size: 20px;
}

.input-box {
    padding: 1%;
    text-align: center;
}

button[type="submit"] {
    background-color: #2d3fdf; /* Button background color */
    color: #fff; /* Text color */
    padding: 15px; /* Padding around the text */
    font-size: 15px;
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
  
  /* Hover effect: Lighten the background color */
button[type="submit"]:hover {
    background-color: #0078d4;
    transform: scale(1.05); /* Add a slight scale effect on hover */
}
  
  /* Focus effect: Change border color on focus */
button[type="submit"]:focus {
    outline: none; /* Remove the default outline */
    box-shadow: 0 0 5px rgba(0, 120, 212, 0.5); /* Add a subtle box shadow on focus */
}

.hidden {
    display: none;
}

/* Style the container div */
#current-forecast {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: fit-content;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style the h3 element for location */
#current-forecast h3 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

/* Style the h4 element for date and time */
#current-forecast h4 {
    font-size: 16px;
    margin-top: 5px;
    color: #777;
}

/* Style the image */
#current-forecast img {
    margin: 5px 0 0;
    max-width: 64px;
    height: auto;
}

/* Style the paragraph with weather information */
#current-forecast p {
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #444;
    margin-top: 5px;
}

/* Style the 3 day forecast div */
#three-day-forecast {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: fit-content;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

/* Style the h3 element for location */
#three-day-forecast h3 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

/* Style the h4 element for date and time */
#three-day-forecast h4 {
    font-size: 16px;
    margin-top: 5px;
    color: #777;
}

/* Style the image */
#three-day-forecast img {
    margin: 5px 0 0;
    max-width: 64px;
    height: auto;
}

/* Style the paragraph with weather information */
#three-day-forecast p {
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #444;
    margin-top: 5px;
}

#single-forecast {
    padding: 3%;
}

#current-header {
    left: 50%;
}