* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.home-page {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(24, 24, 87, 0.8), rgba(17, 17, 59, 0.8)), url("../images/background.jpg");
    background-size: cover;
}

.home-page h1 {
    padding: 5%;
    position: relative;
    text-align: center;
    font-size: 150px;
    color: rgb(236, 236, 236);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
}

.home-page input {
    padding: 10px;
    border: 2px solid #120c6b; /* Border color */
    border-radius: 5px; /* Rounded corners */
    background-color: #f2f2f2; /* Background color */
    font-size: 20px;
}

.input-box {
    padding: 5%;
    text-align: center;
}

button[type="submit"] {
    background-color: #2d3fdf; /* Button background color */
    color: #fff; /* Text color */
    padding: 15px; /* Padding around the text */
    font-size: 15px;
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
  
  /* Hover effect: Lighten the background color */
button[type="submit"]:hover {
    background-color: #0078d4;
    transform: scale(1.05); /* Add a slight scale effect on hover */
}
  
  /* Focus effect: Change border color on focus */
button[type="submit"]:focus {
    outline: none; /* Remove the default outline */
    box-shadow: 0 0 5px rgba(0, 120, 212, 0.5); /* Add a subtle box shadow on focus */
}